@import "tailwindcss";
@import '@fontsource/poppins';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  
  --animate-fade-in: fadeIn 1s ease-out;
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed-1: float 6s ease-in-out infinite 1s;
  --animate-float-delayed-2: float 6s ease-in-out infinite 2s;
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
